src/packages/*
src/*/obj/*
src/*/obj/Debug/
src/exports/*
src/HCMS.Web/Themes/*
*.cache
src/*/bin/*
src/*/bin/Release/*
src/*/Log/*
src/HCMS.Web/App_Data/*
*.mp4
*.ogv
*.mpeg
*.flv
*.ts
*.mp3
*.mkv
*.avi
*.3gp
*.webm
debug.log