@{
    ViewBag.Title = "Settings";
}

<h2>تنظیمات</h2>
<ul class="settings">


    <li>
        <a href="~/SharjCategory">
            <img src="~/Images/Card in Use-50.png" />
            کتگوری شارژها
        </a>
    </li>

    <li>
        <a href="~/Costs/Categories">
            <img src="~/Images/Cash Register-50.png" />
            کتگوری هزینه ها
        </a>
    </li>

</ul>